<div class="title">
  <h1>Listado de Mascota</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar.." #input autocomplete="off">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" matSort>
  <!-- matSort es para ordenar la tabla -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <!-- mat-sort-header es para ordenar la tabla -->
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
      <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="raza">
      <th mat-header-cell *matHeaderCellDef> Raza </th>
      <td mat-cell *matCellDef="let element">{{ element.raza }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element">{{ element.color }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element">{{ element.peso }}</td>
    </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>
          <button [routerLink]="['/agregarMascota']" mat-raised-button color="primary" class="agregar">Agregar</button>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon routerLink="/verMascota/{{element.id}}" fontIcon="search" class="search" matTooltip="Ver"></mat-icon>
          <mat-icon routerLink="/editarMascota/{{element.id}}" fontIcon="edit" class="edit" matTooltip="Editar"></mat-icon>
          <mat-icon (click) = "eliminarMascota(element.id)" fontIcon="delete" class="delete" matTooltip="Eliminar"></mat-icon>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
