/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    box-sizing: border-box;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Versión sin prefijo, actualmente
                                        compatible con Chrome y Opera */
}

.title{
    padding: 30px;
    text-align: center;
    background-color: #666;
    color: #fff;
}


.container{
    margin: 0 20%;
}
